.proyects_carrousel{
    width: 297px;
    height: 500px;  
    border-radius: 10px;
    margin: 0px auto;
    box-shadow: 0px 2px 3px 3px #16161693;
    overflow: hidden;
    position: relative;
    padding: 0;
    animation: renderX 1s ease;
}
.Proyect {
    min-width: 900px;
    height: 500px;  
    border-radius: 10px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    transition: all 0.5s;
}
.Proyect > li {
    padding: 0;
    margin: 0;
    position: relative;
}
.Proyect::-webkit-scrollbar {
    -webkit-appearance: none;
}

.Proyect::-webkit-scrollbar:vertical {
    width:6px;
}

.Proyect::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.Proyect::-webkit-scrollbar:horizontal {
    height: 10px;
}

.Proyect::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid #414d5900;
}

.Proyect::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.Proyect a {
        text-decoration: none;
        text-decoration-style: none;
        color: black;
}
@keyframes render {
    0%{
        scale: 0;
    }
    50%{
        scale: 1.2;
    }
    100%{
        scale: 1;
    }
}
@keyframes renderX {
    0%{
        opacity: 0;
        scale: 1;
        transform: translateX(100%);
    }
    50%{
        scale: 1.2;
    }
    100%{
        opacity: 1;
        scale: 1;
        transform: translateX(0%);
    }
}

.proyect_container{
    width: 300px;
    height: 500px;
    padding: 0;
    overflow: hidden;
}
.proyect_container > a > img {
    overflow: hidden;
    height: 100%;
    width: 300px;
    object-fit: cover;
}
.proyect_container > a > div {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    align-items: center;
    flex-direction: column;
    background-color: #53535396;
    z-index: 1000;
}
.proyect_container > a > div > h3 {
    height: auto;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    background-color: #00B871;
}
.proyect_container > a > div > p {
    text-align: center;
    height: auto;
}
.proyect_habilities{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
}
.proyect_habilities > div {
    height: 50px;
    width: 50px;
}
.proyect_habilities > div > svg {
    height: 100%;
    width: 100%;
}
.proyects_carrousel > button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 10000;
    position: absolute;
    border: none;
    padding: 10px;
    background-color: #00B871;
    border: 2px solid #01794b;
    box-shadow: 0px 2px 3px 3px #16161693;
    transition: all .3s;
}
.next_proyect{
    position: absolute;
    bottom: 10px;
    right: 5px;
}
.previous_proyect{
    position: absolute;
    bottom:10px;
    left: 5px;
}
.proyects_carrousel > button > svg {
    height: 100%;
    width: 100%;
    color: black;
    pointer-events: none;
}
.proyects_carrousel > button:hover{
    cursor: pointer;
    scale: 1.1;
}
.proyects_carrousel > button:active{
    transform: translateY(-10px);
}

@media (min-width: 768px) {
    .proyects_carrousel{
        width: 600px;
        height: 400px;
    }
    .proyect_container{
        width: 600px;
        height: 400px;
        padding: 0;
        overflow: hidden;
    }
    .proyect_container > a > img {
        overflow: hidden;
        height: 100%;
        width: 600px;
        object-fit: cover;
    }
    .proyects_carrousel > button{
        bottom: 175px;
    }
}